body{
  background: #FF0000;
  color: #fff;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  margin: 0px;
}
h1 {
  font-weight: bold;
  color: #FF0000;
}
h2 {
  font-weight: bold;
  font-size: 24px;
  color: #FFF;
}
a {
  color: #FFF;
  text-decoration: none;
}
a:hover {
  color: black;
}

.banner{
  text-align: center;
  color: white;
  padding: 160px 0px;
  background-color: #000;
  background-position: center;
}
.banner h1 {
  font-size: 51px;
}
.banner p {
  opacity: 0.7;
  font-size: 32px;
  font-weight: lighter;
  margin-bottom: 45px;
}

.btn-red {
  color: white;
  background: #FF0000;
  border-radius: 4px;
  padding: 16px 22px;
}
.btn-red:hover {
  background: #FF0000;
  color: white;
}

.card-black {
  background-color: black;
  border-radius: 12px;
  text-align: center;
  padding: 17px;
  margin: 18px 0px;
}

.card-black img {
  margin-bottom: 22px;
}

.footer {
  background-color: black;
  padding: 26px;
  color: white;
}
.footer a {
  color: white;
  font-size: 34px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline li {
  display: inline;
  padding: 0px 9px;
}

#features {
  padding: 66px 0px;
}